<html>
<head>
    <link rel="stylesheet" href="/styles/stylesheet.css" type="text/css"/>
    <title>Online Movie Tracker</title>
</head>
<body>
    <%- include('common/header'); -%>

    <h1 class="title2">Please Login Or Create an Account</h1>
    <h1 class="title2">To use the Movie Tracker</h1>

</body> 
</html>