<html>
<head>
    <link rel="stylesheet" href="/styles/stylesheet.css" type="text/css"/>
</head>
<body>
    <%- include('common/header'); -%>
<h2 class="title2" style="color:white">Movie List</h2>
<div>

    <table class="border">  <!-- The headings for the display table -->
        <tr>
            <th>Movie Title</th>
            <th>Synopsis</th>
            <th>Watched</th>
        </tr>
        <% movies.forEach(function(movie){ %>
            <tr><td><%=  movie.name  %></td>
            <td><%=  movie.synopsis  %></td>
            <td><%=  movie.watched  %></td>
        <% }); %>
    </table>
</div>

</body> 
</html>