<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="/styles/stylesheet.css" type="text/css"/>
      <title>New User Form</title>
    </head>
    <body>
      <%- include('common/header'); -%>
      <div class="formThing">
        <h1 class="title2">Create a User</h1>
        <div class="center">
            <form method="POST" action="/join">
              <label for="name">Email</label>
              <input type="email" id="email" name="email" placeholder="Enter Email"/>
              <% if (errors['email']) { %>
              <p style="color: red"><%= errors['email'].message %></p>
              <% } %>
              <label for="password">Password</label>
              <input type="password" name="password" />
              <% if (errors['password']) { %>
              <p style="color: red"><%= errors['password'].message %></p>
              <% } %>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </body>
</html>
