<header class="header">
  <h2 class="title">Online Movie Tracker</h2>
    <ul class="nav">
      <% if(user) { %>
        <li><a href="/logout"> <%= user.email %> (Logout)</a></li>
        <li><a href="/movieList">Movie List</a></li>
        <li><a href="/addMovie">Add a Movie</a></li><%
    }%> 
    <% if(!user) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/join">Create an account</a></li>
    <% } %>
          
    </ul>
</header> 