<header class="header">
  <h2 class="title">Online Movie Tracker</h2>
    <ul class="nav">
          <li><a href="/">Home Page</a></li>
          <li><a href="/movieList">Movie List</a></li>
    </ul>
</header> 